body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: backgroundFade 10s infinite;
    background-image: url('/index.jpg');
    
}

/* Background Images for Each Page */
body.index {
    background-image: url('/index.jpg');
}

body.login {
    background-image: url('/lobg.jpg');
}

body.signup {
    background-image: url('/signup.jpg');
}

body.jobs {
    background-image: url('/jl.jpg');
}

body.feedback {
    background-image: url('images/feedback_background.jpg');
}

header {
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    padding: 1em;
    text-align: center;
    animation: fadeIn 2s ease-in;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #ffcc00;
}

main {
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 2em auto;
    max-width: 800px;
    border-radius: 8px;
    animation: slideIn 1s ease-out;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    animation: fadeIn 2s ease-in;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 0.5em;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    margin-top: 10px;
    padding: 0.5em;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

form button:hover {
    background-color: #555;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes backgroundFade {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}
/* .button {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove border */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline */
/* } */
